{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}
    <div id="month_calendar" style="float: left; width:70%; margin-left: 5%"></div>
    <div id="today_event" style="float: left; width:20%; margin-left: 10px; margin-right: 10px">
        <h1 align="center">Today's Events</h1>
        <div id="today_calendar" style="float: left; position: absolute; top: 5%; width: inherit"></div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            // page is now ready, initialize the calendar...

            $('#month_calendar').fullCalendar({
                // put your options and callbacks here

                header: { left: 'prevYear,prev,next,nextYear',
                    center: 'title, today',
                    right: 'month,basicWeek' },

                views: {
                    week: {
                        eventLimit : false
                    }
                },

                eventLimit: 6,
                fixedWeekCount: false,
                contentHeight: 800,
                allDayDefault: true,

                eventSources: [
                    {
                        events: [
                            {% for shop in shops %}
                                {
                                    title: '시작:{{ shop.event_name }}',
                                    start: '{{ shop.start_date|date:"c" }}',
                                    url: '{{ shop.link_url }}',
                                    {% if shop.roadshop_name == 'ETUDE_HOUSE' %}
                                        color : 'rgba(255, 153, 255, 0.4)',
                                    {% elif shop.roadshop_name == 'SKIN_FOOD' %}
                                        color : 'rgba(153, 153, 102, 0.4)',
                                    {% elif shop.roadshop_name == 'ARITUAM' %}
                                        color : 'rgba(255, 255, 255, 0.4)',
                                    {% elif shop.roadshop_name == 'INNISFREE' %}
                                        color : 'rgba(000, 255, 102, 0.4)',
                                    {% elif shop.roadshop_name == 'THE_FACE_SHOP' %}
                                        color : 'rgba(051, 102, 102, 0.3)'                                    {% endif %}
                                },

                            {% endfor %}
                        ],

                        color : 'rgba(229, 229, 255, 0.6)',
                        textColor : 'black'
                    },{
                        events: [
                            {% for shop in shops %}
                                {% if shop.end_date != null %}
                                    {
                                    title: '끝:{{ shop.event_name }}',
                                    start: '{{ shop.end_date|date:"c" }}',
                                    url: '{{ shop.link_url }}',
                                    {% if shop.roadshop_name == 'ETUDE_HOUSE' %}
                                        color : 'rgba(255, 153, 255, 0.7)',
                                    {% elif shop.roadshop_name == 'SKIN_FOOD' %}
                                        color : 'rgba(153, 153, 102, 0.7)',
                                    {% elif shop.roadshop_name == 'ARITUAM' %}
                                        color : 'rgba(255, 255, 255, 0.9)',
                                    {% elif shop.roadshop_name == 'INNISFREE' %}
                                        color : 'rgba(000, 255, 102, 0.7)',
                                    {% elif shop.roadshop_name == 'THE_FACE_SHOP' %}
                                        color : 'rgba(051, 102, 102, 0.5)'
                                    {% endif %}
                                    },
                                {% endif %}
                            {% endfor %}
                        ],
                        color : 'rgba(235, 255, 229, 0.6)',
                        textColor : 'black'

                    }]
            })


            $('#today_calendar').fullCalendar({
                // put your options and callbacks here

                header: { left: '',
                    center: '',
                    right: '' },

                defaultView: 'basicDay',
                columnFormat: 'ddd M/D',
                height: "auto",
                allDayDefault: true,

                eventSources: [
                    {
                        events: [
                            {% for shop in shops %}
                                {
                                    {% if shop.roadshop_name == 'ETUDE_HOUSE' %}
                                        title: 'ETUDE:{{ shop.event_name }}',
                                        color : 'rgba(255, 153, 255, 0.4)',
                                    {% elif shop.roadshop_name == 'SKIN_FOOD' %}
                                        title: 'SKINFOOD:{{ shop.event_name }}',
                                        color : 'rgba(153, 153, 102, 0.4)',
                                    {% elif shop.roadshop_name == 'ARITAUM' %}
                                        title: 'ARITAUM:{{ shop.event_name }}',
                                        color : 'rgba(255, 255, 255, 0.7)',
                                    {% elif shop.roadshop_name == 'INNISFREE' %}
                                        title: 'INNISFREE:{{ shop.event_name }}',
                                        color : 'rgba(000, 255, 102, 0.4)',
                                    {% elif shop.roadshop_name == 'THE_FACE_SHOP' %}
                                        title: 'THEFACESHOP:{{ shop.event_name }}',
                                        color : 'rgba(051, 102, 102, 0.4)',
                                    {% endif %}

                                    start: '{{ shop.start_date|date:"c" }}',
                                    end: '{{ shop.end_date|date:"c" }}',
                                    url: '{{ shop.link_url }}',
                                },
                            {% endfor %}
                        ],
                        color : '#FCF8E3',
                        textColor : 'black',

                    }]
            })

        });

    </script>


{% endblock %}
