<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>로드샵캘린더</title>
</head>
<body>
<div id="etude_house" style="float: left">
    <h1>ETUDE_HOUSE</h1>
    {% for shop in shops %}
        {% if shop.roadshop_name == 'ETUDE_HOUSE' %}
            <a href="{{ shop.link_url }}"><img src="{{ shop.image_url }}" /></a></br>
            event_name : {{ shop.event_name }} </br>
            describe : {{ shop.describe }} </br>
            start_date : {{ shop.start_date|date:"Y/m/d(D)" }} </br>
            end_date : {{ shop.end_date|date:"Y/m/d(D)" }} </br></p>
        {% endif %}
    {% endfor %}
</div>
<div id="skin_food" style="float: left">
    <h1>SKIN_FOOD</h1>
    {% for shop in shops %}
        {% if shop.roadshop_name == 'SKIN_FOOD' %}
            <a href="{{ shop.link_url }}"><img src="{{ shop.image_url }}" /></a></br>
            event_name : {{ shop.event_name }} </br>
            describe : {{ shop.describe }} </br>
            start_date : {{ shop.start_date|date:"Y/m/d(D)" }} </br>
            end_date : {{ shop.end_date|date:"Y/m/d(D)" }} </br></p>
        {% endif%}
    {% endfor %}
</div>
</body>
</html>